@model eTickets.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<div class="mx-auto">
    <h1 class="text-center">Actor Details</h1>
    <img class="rounded-circle text-center" src="@Model.Profilepicture" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profilepicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profilepicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateActor" asp-route-id="@Model?.ActorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
