@model IEnumerable<Actor>
@{
    ViewData["Title"] = "Actors List";
}
<div class="container">
<table class="table table-hover">
    <thead>
        <tr class="col">
            <th>@Html.DisplayNameFor(model => model.Profilepicture)</th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Bio)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr scope="row">
                <td><img class="rounded-circle w-25" src="@item.Profilepicture" alt="@item.FullName image"/></td>
                <td class="pt-4">@item.FullName</td>
                <td class="pt-4">@item.Bio</td>
                <td class="pt-4">
                    <a asp-action="UpdateActor" asp-route-id="@item.ActorId" class="btn btn-outline-primary">
                        <i class="bi bi-pencil-square"></i>Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.ActorId" class="btn btn-outline-info"> <i class="bi bi-eye-fill"></i>Details</a>|
                    <a class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </table>

</div>